openapi: 3.0.1
info:
  title: NPGWX
  description: NPGW...X
  version: 1.0.0
servers:
- url: https://apigatewaydev.telenor.dk/npgw


paths:
  
  /auth:
    post:
      security: []
      tags:
      - Authentication
      summary: Get access token.
      description: ...
      parameters:
      - name: appkey
        in: header
        required: true
        schema:
          type: string
          default: "8000050101"
      - name: transactionId
        in: header
        required: true
        schema:
          type: string
          default: "8000000001202102271680434082"
      requestBody:
        description: Data for import request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PortInRequest'
        required: true
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: portInRequest
  
  /import:
    post:
      tags:
      - NPGW
      summary: This method will create a new import order.
      description: Implements SOAP service PortInRequestDK
      parameters:
      - name: appkey
        in: header
        required: true
        schema:
          type: string
          default: "8000050101"
      - name: transactionId
        in: header
        required: true
        schema:
          type: string
          default: "8000000001202102271680434082"
      requestBody:
        description: Data for import request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PortInRequest'
        required: true
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: portInRequest
  
  /order/{telephoneNumber}:
    get:
      tags:
      - NPGW
      summary: Gets ongoing number porting
      description: Implements SOAP service QryOngoingPortOrder
      parameters:
      - name: telephoneNumber
        in: path
        description: Telephone number for ongoing import
        required: true
        schema:
          type: string
      - name: appkey
        in: header
        required: true
        schema:
          type: string
          default: "8000050101"
      - name: transactionId
        in: header
        required: true
        schema:
          type: string
          default: "8000000001202102271680434082"
      responses:
        200:
          description: Success
          content: {}

  /number/info/{telephoneNumber}:
    get:
      tags:
      - NPGW
      summary: ???
      description: Implements SOAP service GetNumberInfo
      parameters:
      - name: telephoneNumber
        in: path
        description: Telephone number for ongoing import
        required: true
        schema:
          type: string
      - name: appkey
        in: header
        required: true
        schema:
          type: string
          default: "8000050101"
      - name: transactionId
        in: header
        required: true
        schema:
          type: string
          default: "8000000001202102271680434082"
      responses:
        200:
          description: Success
          content: {}

  /number/active/{telephoneNumber}:
    get:
      tags:
      - NPGW
      summary: ???
      description: Implements SOAP service ActiveNumber
      parameters:
      - name: telephoneNumber
        in: path
        description: Telephone number for ongoing import
        required: true
        schema:
          type: string
      - name: appkey
        in: header
        required: true
        schema:
          type: string
          default: "8000050101"
      - name: transactionId
        in: header
        required: true
        schema:
          type: string
          default: "8000000001202102271680434082"
      responses:
        200:
          description: Success
          content: {}


components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: See 
      flows: 
        clientCredentials: 
          tokenUrl: npgw/auth?grant_type=client_credentials
          scopes: {} 



  schemas:
    PortInRequest:
      allOf:
      - type: object
        properties:
          OrderId:
            type: string
            default: "1234567905"
          ICC:
            type: string
            default: "8945020200014376867"
          RecipientServiceOperator:
            type: string
            default: "01015"
          TelephoneNumber:
            type: string
            default: "59000920"
          Comment:
            type: string
            default: my comment
          RequestedExecutionDate:
            type: string
            default: "20220101"
   

#Apply the security globally to all operations
security:
  - oAuth2ClientCredentials: []         # use the same name as above
              
